<div class="modal-dialog">
  <div class="modal-content ">
    <%= form_with model: task, local: true do |f| %>
      <form>
        <div class="modal-header">
          <%= f.text_field :title, class: "form-control border-0", id: 'title_text_field'%>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">created by: <strong><%= get_creator(task)%></strong></label>
          </div>
          <div class="mb-3">
            <%= f.label :description, class: "form-label", rows:"1", cols:"50"%><br/> 
            <%= f.text_area :description, class: "form-control border-0", id:'description_text_area', placeholder: "Add a detailed description"%>
          </div>
          <div class="mb-3">
            <label>Images</label>
            <div class="mb-3 d-flex gap-2">
              <%get_image_files(task.files).each do |file| %>
                  <%= image_tag file, class:"w-25"%>
              <%end%>
            </div>
          </div>
          <div class="mb-3">
            <label>Files</label>
            <div class="mb-3 d-flex gap-2">
              <%get_text_files(task.files).each do |file| %>
                  <%= image_tag "pdf.png", class:"pdf-icon"%>
              <%end%>
            </div>
          </div>
          <div class="mb-2">
            <div class="file-upload">
              <label for="file-input">
                <div class="d-flex align-items-center gap-2">
                  <%= embedded_svg('paperclip', class:"svg-icon") %>
                  <p class="m-0">upload file</p>
                </div>
              </label>
              <%= f.file_field :files, id:"file-input", multiple: true%>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleDataList" class="form-label">Users</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type the email to search">
            <datalist id="datalistOptions">
              <%= task_users(task).each do |user| %> 
                <option value="<%=user.email%>">
              <% end %>
            </datalist>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit 'Update', class: "btn btn-primary" %> 
        </div>
      </form>
    <% end %>
  </div>
</div>