<div class="container mt-5">
  <h2><%= @board.name %></h2>

  <div class="container mt-4 text-center">
    <div class="row row-cols-auto">
      <% @lists.each do |list| %>
        <ul class="list kanban-col" id="single">
          <li class="kanban-col-name"><%= list.name %></li>
            <% list.tasks.each do |task| %>
              <li class="kanban-col-item" >
                <%= task.title %>
              </li>
            <% end %>
            <div class="hidden kanban-col-item bg-secondary" id="show_whatever" >
              <a href="#" id="show_whatever" class="text-white text-decoration-none">
                Add a new task
              </a>
            </div>
            <div class="hidden kanban-col-item bg-secondary text-white" style="display: none;">
              <%= form_with scope: :task, url: tasks_path, local: true do |f| %>
                <p> 
                  <%= f.text_field :title, placeholder: "Introduce a title for this task"%>
                </p>
                <p>
                  <%= f.text_field :list_id, type: "hidden", value: list.id %>
                </p>
                <p>
                  <%= f.submit %> 
                </p>
              <% end %>
            </div>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'dragula' %>