<div class="container mt-5">
  <div class="d-flex flex-direction-column gap-4">
    <h2><%= @board.name %></h2>
    <button type="button" class="btn btn-warning rounded-1 dropdown-toggle" style="height: 36px;" data-bs-toggle="dropdown" aria-expanded="false">
      Config
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit-board-modal">Edit board</a></li>
      <li>
        <%= link_to "Delete", board_path(@board), class: "dropdown-item text-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    </ul>
  </div>

  <div class="container mt-4">
    <div class="row row-cols-auto d-flex gap-4">
      <% @lists.each do |list| %>
        <div class="col bg-light rounded" style="width: 18rem;">
          <%= render(:partial => "lists/show", :locals => {:list => list})%>
        </div>
      <% end %>
      <%= render(:partial => "lists/new", :locals => {:board => @board})%>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-board-modal">
  <%= render 'boards/edit_modal' %>
</div>

<%= javascript_pack_tag 'show_boards' %>